@model IEnumerable<Entitys.Entity.Kayit>

@{
    ViewData["Title"] = "Rezervasyonkayit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rezervasyonkayit</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.girisTarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cikisTarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fiyat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.girisTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cikisTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fiyat)
            </td>
            

        </tr>
}
    </tbody>
</table>
